# Core functionality - changes here should be rare!
/src/app.py                   @auserame
/src/backend/database.py      @auserame
/src/backend/routers/auth.py  @auserame

# The frontend will need refactored soon to be more object oriented.
/src/static/   @auserame
